*.cache
Project/UnamiSushi/UnamiSushi/obj/Debug/UnamiSushi.csprojResolveAssemblyReference.cache
Documents/About Sections Info.docx
Project/UnamiSushi/UnamiSushi.v12.suo
Project/UnamiSushi/UnamiSushi.v12.suo
Project/UnamiSushi/UnamiSushi.v12.suo
*.mdf