@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> 
    I'm originally from Oregon, born in Lebenon and grew up inPportland. We moved to Missoula Montana when I was 10 years old. After 7th grade I was homeschooled 
    from which I graduated when i was 16. i got my first restaurant job at the Montana Club a large restaurant that grossed close to 10 million per year. There I 
    worked my way up from dishwasher to running the line. While working at the Montana Club I learned how to prepare many different types of cuisine from scratch 
    including French, Italian, Asian, American, and Spanish cuisines. With extra time in my schedule from having finished high school early I got 2nd jobs at other 
    restaurants in 2-3 month intervals and worked 70-80 hours a week just to learn more. Originally planning on working at restaurants through college and just to 
    have the life skill to cook, I really had no idea I would be this interested in the craft. I quickly soaked up as much information as I could about different types
    and styles of cooking. Soon I realized the one I became most interested in was japanese style cooking and the sushi world. It seemed so exotic and I had never 
    even eaten sushi so I knew nothing about it and that is what intrigued me so much. So I went and applied at a sushi restaurant in Missoula that was just 
    reopening. When I landed the job as a sushi chef in training I had no idea how much it would transform my life. Credit due to the owner, Sung Won Kim, was a 
    great teacher and knew so much. He was born in Korea and learned how to make sushi in Japan, he then moved to America and worked at sushi restaurants in 
    California before opening his own 5 table restaurant in the bay area. He then opened a restaurant in Northern California and after much success decided to open a
    place in Montana where he wanted to retire. He opened Sushi Hana which was the first sushi restaurant in Montana in 1998. After family disputes he reopened the 
    place 5 years later as Nara Korean BBQ and Sushi where I got a job when it first opened. Working there and learning the craft for 5 years I opened my own sushi 
    restaurant, 2nd Street Sushi, 50 miles south in a town called Hamilton. Lots of experimentation with fine dining type of food and business experience under my 
    belt I was ready to move back to Oregon so I sold the sushi restaurant and moved to Eugene/Springfield where my mom resides. We knew there was a nich in quick 
    service sushi because other than the conveyerbelt places they really didnt exist to my knowledge yet. So Abby sugessted we try opening a drive thru and figure 
    things out. Thats where we developed the Sushi Burrito concept in our style based on reditions of previous rolls i had created at 2nd Street Sushi. My dream is 
    to open a chain of Sushi Burrito shops that focus on sustainability and use of ingredients found locally, while providing a workplace that promotes individuality 
    and a sense of pride for serving healthy delicious alternative to traditional "fast Food".
    
    - Toby 
</p>
