@model UnamiSushi.Models.MenuCategory


@{
    ViewBag.Title = "Details";
}

<div>
        @foreach (var item in Model.MenuItems)
        {
            string imageString = item.MenuPictures.First().PicturePathname;

            //string imageString = "/Photos/Normal/SushiRoll1.jpg";
            <a href="@Url.Action("Details", "MenuItem", new { id = item.MenuItemID })">
                <img src="@Url.Content(imageString)" alt="image" width="200" height="150" />
            </a>

            @Html.ActionLink(item.MenuItemName, "Details", "MenuItem", new { id = item.MenuItemID }, null)
            //@item.MenuItemName

            @item.MenuItemPrice

            <br />
        }
</div>