@model IEnumerable<UnamiSushi.Models.MenuViewModel>
@using UnamiSushi.Models


@if (Model != null)
{
    <div class="grid">
        <table cellspacing="0" width="80%">
            <thead>
                <tr>
                    <th>
                        CategoryName
                    </th>
                    <th>
                        MenuItemName
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="left">
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        @for (int i = 0; i < item.MenuItemName.Count; i++)
                        {    
                        <td align="left">
                            @Html.DisplayFor(modelItem => item.MenuItemName[i])
                        </td>
                        }

                    </tr>
                }
            </tbody>
        </table>

    </div>

}